aside {
  position: fixed;
  top: 0px;
  right: -470px;
  transition: right 0.4s ease-in-out;
  width: 250px;
  
  background-color: var(--topBarColor);
  /* background-color: #333333; */
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 1000;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 38px 0 0 8px;
}

aside.active {
  right: 0px;
}

aside.notactive {
  right: -461px;
}

  /* ishla  */

.side_nav {
  position: relative;
  margin-top: 56px;
  padding: 20px 30px;
  padding-bottom: 10px;
}

.room {
  position: absolute;
  width: 200px;
  height: 382px;
  background-image: url(./images/room.png);
  background-size: cover;
  bottom: 15px;

  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

aside ul {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

aside ul li {
  padding: 4px 0px;
  text-align: left;
  line-height: 30px; 
  /* border-bottom: 1px solid #fbfbfb1e; */
}

aside ul li a {
  font-family: 'Oswald', sans-serif;

  text-transform: uppercase;
  padding: 2px 0px;
  display: block;
  /* text-decoration: none; */
  font-size: 16px;
  letter-spacing: 0.08rem;
  font-weight: 300;
  color: #ffffff;
}

aside ul li a:hover {
  letter-spacing: 0.16rem;
  color: rgb(234, 134, 3);
  transition:  all 0.4s ease-in-out;
}



aside #tillar_a {
  margin: auto;
  width: fit-content;
  padding: 0px 28px;
  background-color: var(--topBarColor);
}
aside .tillar {
  margin-top: 25px;
  text-align: center;
}

aside .tillar:before {
  content: "";
  position: absolute;
  top: 277px;
  left: 0px;
  width: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.204); 
  z-index: -1;
}
aside .tillar::after {
  content: "";
  position: absolute;
  top: 280px;
  left: 0px;
  width: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.204); 
  z-index: -1;
}

aside .tillar a:hover {
  color: #ffffff;
  letter-spacing: 0.1rem;
}

aside .tillar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

aside .tillar .birinchi_qator_ul {
  margin-top: 10px;
}

aside .tillar ul li {
  border-width: 0px;
}

aside .tillar ul li a {
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
aside .tillar ul li a:hover {
  background-color: rgb(197, 197, 197);
  color: var(--topBarColor);
}

aside .tillar ul li:first-child {
  margin-left: -10px;
}
aside .tillar ul li:last-child {
  margin-right: -10px;
}

.side_nav:first-child::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.204); 
  z-index: -1;
}


@media only screen and (min-width: 415px) {
  aside {
    width: 320px;
  }
}

@media only screen and (min-width: 515px) {
  aside {
    width: 370px;
  }

  /* aside .tillar {
    margin-top: 75px;
  }
  aside .tillar:before {
    top: 350px;
  }
  aside .tillar::after {
    top: 353px;
  } */
}

@media only screen and (min-width: 600px) {
  .room {
    display: none;
  }
  .side_nav:first-child::before {
    display: none;
  }

  .side_nav {
    position: relative;
    margin-top: 0px;
  }

  aside {    
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: var(--topBarColor);
    width: 400px;
    top: -600px;
    transition: top 0.4s ease-in-out;
    display: flex;
  }

  aside.active {
    top: 5px;
  }

  .side_nav {
    background-image: url(./images/);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    width: 100%;
    margin: auto;
    padding: 20px 50px;
  }

  aside ul li {
    padding: 8px 0px;
    line-height: 60px;
  }

  aside ul li a {
    font-size: 20px;
  }

  aside #tillar_a {
    margin: auto;
    width: fit-content;
    padding: 2px 20px;
    background-color: var(--topBarColor);
  }

  aside .tillar {
    margin-top: 15px;
  }
  aside .tillar:before {
    top: 472px;
  }
  aside .tillar::after {
    top: 476px;
  }

  aside .tillar ul li {
    line-height: 30px;
  }
  aside .tillar ul li a {
    font-size: 16px;
  }
}


/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/
