@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

@font-face {
font-family: JuneBug; 
src: url(Courgette-Regular.ttf)
format('Courgette');
}

@font-face {
font-family: Vevey; 
src: url(vevey.ttf)
format('Vevey');
}
  
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
img {
    max-width: 100%;
  }