@font-face {
    font-family: Gotham SSm;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 200;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
      format('woff2');
  }

  @font-face {
  font-family: JuneBug; 
  src: url(Courgette-Regular.ttf)
  format('Courgette');
  }

  @font-face {
  font-family: Vevey; 
  src: url(vevey.ttf)
  format('Vevey');
  }


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
img {
    max-width: 100%;
  }