@font-face {
    font-family: Gotham SSm;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 200;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2) format("woff2")
}


*{
    list-style: none;
    text-decoration: none;
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

img {
    max-width: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    
}

/* Tepadagi bar  */


.mobile_header {
    opacity: 1;
    padding: 5px 2px;
    position: fixed;
    top:0;
    height: 30px;

    z-index: 1;
    width: 100%;
  

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 

.mobile_header nav.right{
    text-align:right;
}

.mobile_header li  {
    /* margin-top: 5px; */
} 

.mobile_header li:first-child {
    margin-top: 3px;
} 

.mobile_header li:first-child a {
    /* color: rgb(2, 191, 5); */
    font-size: 1.2rem;
} 
 
.mobile_header li a {
    color:  rgba(17, 109, 1, 0.839);
    font-size: 1.7rem;
    font-weight: 400;
} 


  /* a Note: Hamburger menu is in aside.css */

/* Asosiy qismi */
.main {
}
.main-1 {

    overflow: scroll;
    /* flex: none; */
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.main-1 > div {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main-1 div img {
    width: 100%;
    height: 100vh;
    /* object-fit: cover;
    object-position: center; */
}

.main-2 {
    position: relative;
}

.head {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: -50px;
    opacity: 0;
    transition: ease-in-out 0.4s;
}

.head a {
    color: rgb(255, 255, 255);
}

.head .logo_on_screen {
    position: fixed;
    top: 62px;
    left: 23px;

    width: 80px;
    height: 25px;
  
    color: rgb(252, 252, 252);
    font-size: 22px;
    
    background-image: url(images/logo_very_small.png) ;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 1;
    
}

.head span {
    position: fixed;
    color: rgb(160, 228, 15);
    font-size: 15px;
    text-align: left;
    padding-left: 10px;

    top: 58px;
    right: 23px;
}


.login {
    position: fixed;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 260px; */
    justify-content: center;
    align-items: center;
}
 
.login div {
    /* display: flex; */
    justify-content: center;
}

 

#arrow img {
    /* position: absolute; */
    width: 25px;
    height: 30px;  
    z-index: 2;
}

.arrow {
   
    display: block;
   
   margin: auto;
   margin-top: 70px;
    height: 50px;
    font-size: 25px;
/* 
    display: flex;
    justify-content: center; */

    color: rgb(33, 3, 234);
    animation: updown 1.5s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(5px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
 

.main .logo_on_screen {
    animation: show ease-in-out 1s;
}

.main .head span {
    animation: show ease-in-out 2s;
}




.compare_prices {        
    font-weight: 500;       
}

.center {
    width: 200px;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
  }

.contain_glow {
    display: grid;
    height: 200px;
}

#Central_Logo .outer {
    position: relative;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    
}

#Central_Logo .circle {
height: 90px;
width: 90px;
border-radius: 50%;
}

#Central_Logo .outer button {
position: absolute;
top: 27%;
left: 50%;
transform: translate(-50%, -50%);
}

#Central_Logo .outer span {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* glow location */
}

#Central_Logo .outer button {
background: rgba(1, 56, 71, 0.755);
color: #f2f2f2;
outline:none;
border: none;
font-size: 10px;
z-index: 9;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
}

#Central_Logo .circle button {
height: 90px;
width: 90px;
border-radius: 50%;
}

#Central_Logo .outer span {
height: 100%;
width: 100%;
background: inherit;
}

#Central_Logo .circle span {
border-radius: 50%;
}

#Central_Logo .outer span {
filter: blur(14px);
}

#Central_Logo .outer span:nth-child(1){
filter: blur(7px);
}
#Central_Logo .outer span:nth-child(2){
filter: blur(14px);
}

#Central_Logo .outer {
background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
    filter: hue-rotate(360deg);
    }
}

.main .blueZone {
    animation: show  ease-in-out 3s;
}



@keyframes show {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
     
    40% {
        transform: translateY(30px);
        opacity: 0;
    }
    70% {
        transform: translateY(0px);
        opacity: 0.5;
    }
     
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showLate {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
     
    40% {
        transform: translateY(30px);
        opacity: 0;
    }
    90% {
        transform: translateY(30px);
        opacity: 0;
    }
     
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes showLatest {
    0% {
        transform: translateY(30px);
        opacity: 0;
        
    }
     
    40% {
        transform: translateY(30px);
        opacity: 0;
    }
    95% {
        transform: translateY(30px);
         
        opacity: 0;
    }
     
    100% {
        transform: translateY(0px);
        
        opacity: 1;
    }
}

@keyframes showX {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
     
    40% {
        transform: translateX(30px);
        opacity: 0;
    }
    70% {
        transform: translateX(0px);
        opacity: 0.5;
    }
     
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.head {
    opacity: 0;
    /* z-index: 1; */
}

.head-1 {
    opacity: 1;
    /* transition: all 1.5s; */
    /* z-index: 1; */
}

.head-2,.head-3,.head-4 {
    opacity: 0;
    /* transition: all 1.5s; */
    /* z-index: 1; */
}

.login {
    opacity: 0;
    transition: ease-in-out 0.4s;
    /* z-index: 1; */
}

.login button {
    position: fixed;
    top: 410px;
    margin-top: 20px;
    color: rgb(3, 119, 145);
    width: 130px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3%;
    border-width: 0px;
    cursor: pointer;
}

.login-2 .mainPage_text, .login-3 .mainPage_text, .login-4 .mainPage_text {
/* width: 100%; */
text-align:left;

} 

.login-2 .mainPage_text span,
.login-3 .mainPage_text span,
.login-4 .mainPage_text span {
font-size: 17px;
line-height: 1.6rem;
font-weight: 500;
}

.login-2 .mainPage_text span span, .login-4 .mainPage_text span span {
    float: left;
    width: 0.8em;
    font-size: 320%;
    /* font-family: algerian, courier; */
    line-height: 80%;
    padding-top: 3px;
}


.login-1 {
    opacity: 1;
    /* transition: all 1.5s; */
    /* z-index: 1; */
}



.active {
    /* opacity: 1; */
    /* transition: ease-in-out 0.4s; */
}

.hide {
    opacity: 0;
}   

/*  
.login .blueZone {
    animation: order 3s;
} */


.blur {
    position: fixed;
    width: 100%;
    display: none;
    height: 100vh;
    z-index: 99;
    transition: all 1s;
    backdrop-filter: blur(4px);
    background-color: #393c416e;
}

.blur.active {
    display: block;
}

.head-1 .above_bluezone {
    position: relative;
    top: 230px;
  
    width: 100%;
    color: white;
    font-size: 15px;
 
    padding-top: 30px;
    padding-bottom: 30px;
  
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 300px;
    align-self: center;
}

#cent_logo {
    display: block;
    width: 300px;
    height: 60px;
    background-image: url(./images/logo_big.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 15px;
}
.above_bluezone h1 {

    font-size: 16px;
    margin: 8px 0px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color:#017820;
    background-color: #fffffff0;
 
    padding-top: 10px;
    padding-bottom: 10px;   
}

.above_bluezone p {
    background-color: #04527c;
    padding: 10px 0px;
    border-radius: 8px;
}


.login .blueZone {
    position: fixed;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    
    background-color: #116d01dd;
    border-radius: 5px;
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    z-index: 1;
    flex-direction: column;
}

.login-1 .blueZone {
    top: 360px;
    background-color: transparent;
    z-index: 9;
    }


.login-3 .blueZone {
  /* background-color: #8b000af0; */
  background-image: linear-gradient(to top, #be383d 0%, #330570 100%);
   
    }

.login-4 .blueZone {
        background-color: #00568bf0;
          }
    
    .login-2 .blueZone,
    .login-3 .blueZone,
    .login-4 .blueZone {
        height: 300px;
}

.mainPage_text  {
    position: relative;
    /* width: 80%; */
    /* margin: auto; */
    margin-top: 0px;
  
    z-index: 1;
    margin-bottom: 10px;
    /* border-radius: 5px 5px 5px 5px; */
    padding: 10px 25px;
}

.login-1 .mainPage_text {
    padding: 10px 15px;
}

.mainPage_text span {
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 12px; 
    font-weight: 500;
    letter-spacing: 0.02rem;
}

.mainPage_text:first-child {
    margin-top: 15px;
}
.login-1 .mainPage_text:first-child {
    margin-top: 0px;
}

.formulier  {
    position: relative;
   
    margin-top: 0px;
    z-index: 1;
    margin-bottom: 20px;
    /* border-radius: 5px 5px 5px 5px; */
   
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* column-gap: 5px; */
    justify-content: center;

}

.vraag_waarom {
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}
.bx {

}


.formulier div {
    padding: 10px 10px;
    color: rgb(6, 124, 150);
    background-color: #eaeaea;
    font-size: 12px; 
    font-weight: 600;
    border: 0.4px solid rgb(16, 132, 4);
}

.formulier1 {
    grid-row: 1;
    grid-column: 1 / 2;
    filter:grayscale(0.5) ;
}
.formulier2 {
    grid-row: 1;
    grid-column: 2 / 3;
    filter:grayscale(0.5) ;
}
.formulier3 {
    grid-row: 1;
    grid-column: 3 / 5;
}
.formulier4 {
    grid-row: 2;
    grid-column: 1 / 5;
}
.formulier5 {
    grid-row: 3;
    grid-column: 1 / 5;
    color: white;
    background: #056f87;
}



/* boshqa betlar uchun */

figure {
    top: 50px;
    right: -62px;
    position: fixed;
    content: "";
    width: 70px;
    height: 93%;
    border-radius: 50px;
  
    /* transition: right 0.4s ease; */
    background-color: #120587;
    z-index: 300;
   
  }
  
  figure.active {
    display: none;
  }
  

.photo_for_each_page {
    padding-top: 20px;
    background-color: #ffffff;
    }
    
.photo_for_each_page img {
      padding: 20px 0px ;
      position: relative;
      width: 100%;
    }
    
.other_pages h4 {
    text-align: center;
    padding: 40px 20px;
    font-weight: 700;
    }
    
.other_pages h6 {
      
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 700;
      }
    
.other_pages p {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 1.6rem;
         font-weight: 600;
        }
    
.other_pages .white_bg {
          background-color: #ffffff;
          padding: 10px 0px;
    }
    
.other_pages .gray_bg {
      background-color: #ffffff;
      padding: 10px 0px;
    }
    
    .other_pages .sarlavha_with_bg {
      background-color: #edeefd;
      padding: 10px 10px;
      margin-bottom: 30px;
      font-size: 1.5rem;
      letter-spacing: 1.7px;
      border-top: 4px double #818bf91a;
      /* border-bottom: 4px double #050e72; */
    }

footer p {
    font-size: 8px;
    background-color: #8f8f8f;
    color: #17028a;
    padding: 10px 20px;
    text-align: center;
}

   

    .coverage {
        position: absolute;
        height: 90vh;
        width: 100%;
        bottom: 0;
        z-index: 98;
        background-color: rgba(252, 181, 229, 0);
        /* border: 0.2px solid red; */
    }

    .mobile_header {
        background-color:  rgb(255, 255, 255);
        /* rang  */
    }

/* Hidden stuff from desktop version */

header {
    display: none;
}

.desktop_container {
    display: none;
}


    @media only screen and (min-width: 600px) {
        html {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
        body {
            overflow: visible;
            background-color: #ffffff;
            color:#120587;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .main-1 {
            scroll-snap-type: none;
        }

        .main-1 > div {
            scroll-snap-stop: none ;
            scroll-snap-align: none ;
        }

        .mobile_header {
            display: none;
        }


        header {
            display: block;
    
            padding: 5px 0px;

            background-color: #013e5f;
            align-self: center;
            align-items: center;
            width: 100%;
            color: white;
            position: fixed;
            display: flex;
           flex-direction: row;
           justify-content: space-around;
           z-index: 99;
            
           border-width: none;
           filter:grayscale(0);
        }

        header .desktop_logo {
           align-self: left;
        }
        .desktop_logo img {
            width: 70px;
            height: 17px;
            
        }

        .fancy-link li a {
            display: block;
            /* margin: 10px 0; */
            padding: 10px 20px;
            text-transform: uppercase;
        }

        .fancy-link li a.active,
        .fancy-link li a:hover {
            color: rgb(255, 255, 255);
            border-radius: 20px;
            background-color: #ff4d00;
            transition: all 500ms ease-in-out;
            
        }

        header nav ul {
            display: flex;
            flex-direction: row;
            margin: auto;
            font-size: 16px;
        }

        header nav ul li {
            margin-right: 30px;
        }

        header ul li a {
            color: inherit;
        }

        header ul li a.active {
            background: #056f87;
            color: #120587;
            transition: 0.5s;
        }

        header .end {
            display: flex;
            flex-direction: row;
            color: white;
            align-items: center;
            padding: 15px 0px;
            /* text-align: right; */
        }
      
        .end a span {
         color: #35e14f;
         font-weight: 600;
         text-transform: uppercase;
         padding: 10px 20px;
         margin-right: 3px;
        }

        .end a span:hover {
            color: rgb(255, 255, 255);
            border-radius: 20px;
            background-color: #ff4d00;
            transition: all 500ms ease-in-out;
        }

        header .end a i {
            font-size: 1.5rem; 
            color: white;
            margin-left: 5px;
            
        }

        .main-1 {
            display: none;
        }

        .desktop_container {
            display: block;
            position: relative;
        }

        section {
            padding: 50px 50px;
        }

        .landing_page {
            font-size: 14px;
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            filter:grayscale(0);
        }
     
        .landing_page div {
            padding: 50px 50px;
            padding-top: 80px;
            
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
        }

        @keyframes grayscale {
            0% {
                filter:grayscale(20);
            }
             
            40% {
                filter:grayscale(20);  
            }
            90% {
                filter:grayscale(20);
            }
             
            100% {
                filter:grayscale(0);
            }
        }

        .desktop_login {
            color: white;
            /* right: 40px; */
            font-size: 18px;
            z-index: 11;
            background-color:#120587 ;
            width: 120px;
            border-radius: 5px;
            border-width: 0px;
            /* border: 1px solid #120587; */
            cursor: pointer;
        }

        .compare_prices {        
            font-weight: 500;       
        }

        .center {
            display: flex;
            text-align: center;
            align-items: center;
          }
       
.contain_glow {
    display: grid;
    height: 200px;
    place-items: center;
    }

#Central_Logo .outer {
    position: relative;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

#Central_Logo .circle {
    height: 0px;
    width: 27px;
    border-radius: 50%;
}

#Central_Logo .outer button, .outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Central_Logo .outer button {
    background: rgba(1, 56, 71, 0.755);
    color: #f2f2f2;
    outline:none;
    border: none;
    font-size: 14px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

#Central_Logo .circle button {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#Central_Logo .outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

#Central_Logo .circle span {
    border-radius: 50%;
}

#Central_Logo .outer span {
    filter: blur(14px);
}

#Central_Logo .outer span:nth-child(1){
    filter: blur(7px);
  }
  #Central_Logo .outer span:nth-child(2){
    filter: blur(14px);
  }

#Central_Logo .outer {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

        .desktop_login p {
            padding: 10px 10px;
            text-align: center;
        }

        .sarlavha {
            width: 40%;
            padding: 40px 40px;
            position: relative;
            display: flex;
            flex-direction: column;
            /* top: 30%; */
            /* background-color: #1a1a1a1c; */
            /* border: 1px solid rgb(190, 190, 190); */
            border-radius: 8px;
            margin: auto;
            text-align: center;
            color: #d2dcfa;
            font-size: 33px;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            opacity: 0;
        }


        .landing_page {
            animation: grayscale ease 8s;
        }
        #Central_Logo {
            animation: showLatest ease 13s;
        }
        .desktop_login {
            animation: showLate ease 10s;
        }
        header {
         animation: grayscale ease 12s;
        }
        .sarlavha {
            animation: show_fadeOut  ease-in-out 10s;
        }

        @keyframes show_fadeOut {
            0% {
                transform: translateY(30px);
                opacity: 0;  
                font-size: 0rem;
            }

            20% {
                transform: translateY(30px);
                opacity: 0;  
                font-size: 0rem;
            }
             
            40% {
                transform: translateY(0px);
                opacity: 1;  
             
            }
            60% {
                transform: translateY(0px);
                opacity: 1;  
                font-size: 2rem;
            }
           

            100% {
                transform: translateY(0px);
                opacity: 0;  
                
            }
        }

        .sarlavha h1 {
            color: #d2dcfa;
            font-size: 46px;
            margin: 8px 0px;
            letter-spacing: 0.3rem;
            
            padding-top: 20px;
            padding-bottom: 20px;
        }


#Central_Logo {
    width: 300px;
    height: 100%;
    position: absolute;
    
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Central_Logo p {
    margin-top: 40px;
    padding: 10px 20px;
    padding-top: 16px;
    font-size: 24px;
    letter-spacing: 1.2px;
    /* font-family: fantasy; */
    color: #35e14f;
    /* background-color: #013e5fad; */
    border-radius: 8px;
}

.second_part {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
            /* display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            background-color: rgb(255, 255, 255); */
          
        }

        section h1 {
            color: #013e5f;
            font-size: 32px;
            padding-top: 50px;
            
            text-align: center;
        }

        .smaller_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

        .container_for_p {
            /* margin: auto; */
            margin: auto;
            padding: 80px 40px;
        
            letter-spacing: 0.13rem;
            color: #013e5f;
            background-color: white;

            grid-row: 1 / 3;
            grid-column: 1 / 3;
            font-weight: 500;
           
        }

        .vergelijk {
            /* float: right;
            position: relative;
            padding: 70px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            /* align-items: center; */
            background-color: #ffffff;
            color: #120587;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.13rem;

            grid-row: 1 / 3;
            grid-column: 3 / 5;
        } 

       .second_part .image_container {
           
            /* align-items: center; */
        }

        .second_part .image_container  img {
            width: 60%;
            padding-right: 50px;
            float: right;
            object-fit: contain;
            object-position: center;
        }

        .fs-22 p {
            font-size: 22px;
            letter-spacing: 0.09rem;
        }

        .formulier {
            /* width:; 500px; */
            margin-top: 5px;
            margin-bottom: 5px;
            
        }

        .formulier div {
            font-size: 18px;
            padding: 20px 25px;
        }

        .formulier4 {
            text-align: center;
        }

        .formulier5 {
            text-align: center;
        }

       .vergelijk:last-child  {
           
            /* font-size: 12px;
            color: yellow; */
        }

        .third_part {
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: row;
            justify-content: space-evenly;
            /* float: auto; */
            
            background-color: #d2e0ff;
            padding: 100px 20px;
        }

        .third_part h3 {
            text-align: left;
            font-size: 24px;
            padding: 20px 0;
            color: #019a18;
        }

        .third_part .picture_box {
            margin-right: 20px;
            width: 25%;
        }
  
        .third_part .picture_box:last-child {
            margin-right: 0px;
            
        }

        .third_part .picture_box p {
            color: rgb(64, 64, 65);
            margin-bottom: 15px;
            font-size: 20px;
        }

        .third_part .picture_box button {
            color: rgb(255, 255, 255);
            background-color: #0077b7;
            padding: 10px 20px;
            font-size: 18px;
            border-width: 0px;
            border-radius: 5px;
            cursor: pointer;
        }

        .third_part .picture_box button:hover {
            /* color: #013e5f ; */
            color: white ;
            background-color: #ff4d00;
            border-radius: 20px;
            /* font-weight: 500; */
            transition: ease-in-out 0.2s;
        }

        .third_part .picture_box button a {
            padding: 5px 5px;
            color: white ;
        }

        .fourth_part {
            padding: 50px 0px;
            background-color: white;
        }
        .fourth_part div:first-child {
            padding: 0px 70px;
            font-size: 28px;
            text-align: center;
        }

        .fifth_part {
            background-color: #d2e6ff;
            color: #013e5f;
            font-weight: 500;
        }
        .fifth_part h1 {
            /* color: white; */
            margin-bottom: 100px;
        }

        .fifth_part h4 {
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 30px;
            
        }

        .fifth_part p,  .fifth_part li {
            font-size: 20px;
        }
        
        .two_columns li i, .flex_row p i {
           margin-right: 10px;
        }
    
        .flex_row {
            display: flex;
            flex-direction: row;
        }

        .flex_row p {
            margin-right: 40px;
        }

        .left_container {
            letter-spacing: 0.02rem;
        }
        .left_container ul {
            margin: 30px 0px;
           
        }

        .right_container img {
            width: 70%;
            float: right;
        }
        .onze_klanten {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 40px;
        }

        .onze_klanten img {
            width: 170px;
        }

        .sixth_part {
            background-color: #013e5f;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding-top: 80px;
            padding-bottom: 60px;
            letter-spacing: 2.2px;
        }

        .sixth_part div:first-child p {
            margin: 12px 0px;
            /* color:rgb(160, 228, 15) */
        }

        .footer1 {
            border: 1px solid rgba(179, 179, 179, 0.775);
            display: flex;
            
        }

        .footer1 .container {
            padding: 30px 30px;
            font-size: 16px;
            margin: auto;
        }

        .big_logo {
            width: 90px;
            margin-bottom: 12px;
        }

        .footer_menu li {
            color: white;
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.174);
        }
        
        .footer_menu li a {
            color: white;
           
        }

        .footer_menu li:first-child  {
            margin-top: 25px;
            margin-bottom: 25px;
            border-width: 0px;
        }

        .wij_staan {
            line-height: 1.6rem;
            letter-spacing: 1px;
        }
        .footer_menu li:first-child a {
            color: #35e14f;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
            cursor:default;
        }

        .footer_contact_ons {
            color: #35e14f;
            font-weight: 500;
            cursor: pointer;
            
        }



        .footer_contact_ons:hover {
            /* color: #013e5f ; */
            /* color: white ; */
            color: #ff4d00;  
        }

        .black {
            color: rgb(122, 120, 120);
            background-color: rgb(27, 27, 27);
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
        }

        .black p {
            margin: auto;
            font-size: 9px;
            text-align: center;
            padding: 5px;
        }

        .visibility_invisible {
            visibility: hidden;
        }

       
    }
/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/

 
 