@font-face {
    font-family: Gotham SSm;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2) format("woff2")
}

@font-face {
    font-family: Gotham SSm;
    font-weight: 200;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2) format("woff2")
}


*{
    list-style: none;
    text-decoration: none;
    padding:0;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

img {
    max-width: 100%;
}

body {
    box-sizing: border-box;
    overflow: hidden;
}

/* Tepadagi bar  */


.mobile_header {
    opacity: 1;
    padding: 5px 2px;
    position: fixed;
    top:0;
    height: 30px;

    z-index: 1;
    width: 100%;
  

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 

.mobile_header nav.right{
    text-align:right;
}

.mobile_header li  {
    /* margin-top: 5px; */
} 

.mobile_header li:first-child {
    margin-top: 3px;
} 

.mobile_header li:first-child a {
    /* color: rgb(2, 191, 5); */
    font-size: 1.2rem;
} 
 
.mobile_header li a {
    color:  rgba(17, 109, 1, 0.839);
    font-size: 1.7rem;
    font-weight: 400;
} 


  /* a Note: Hamburger menu is in aside.css */

/* Asosiy qismi */
.main {
}
.main-1 {

    overflow: scroll;
    /* flex: none; */
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.main-1 > div {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main-1 div img {
    width: 100%;
    height: 100vh;
    /* object-fit: cover;
    object-position: center; */
}

.main-2 {
    position: relative;
}

.head {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: -50px;
    opacity: 0;
  
    /* height: 40vh; */
    /* align-items: center; */
}

.head a {
    color: rgb(255, 255, 255);
    /* text-decoration: underline; */
    /* cursor: pointer;
    text-underline-position: under; */
}

.head .logo_on_screen {
    position: fixed;
    top: 62px;
    left: 27px;

    width: 90px;
    height: 25px;
  
    color: rgb(252, 252, 252);
    font-size: 22px;
    
    background-image: url(images/logo_very_small.png) ;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 1;
    
}

.head span {
    position: fixed;
    color: rgb(252, 252, 252);
    font-size: 16px;
    text-align: left;
    padding-left: 10px;

    top: 62px;
    right: 27px;

    
    

    /* margin-top: -10px; */
}





.login {
    position: fixed;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 260px; */
    justify-content: center;
    align-items: center;
}
 
.login div {
    /* display: flex; */
    justify-content: center;
}

 
/* 
.btn span {
    color: transparent;
} */
/* 
#order {
    background-color: #393c4100;
    color: white;
}

#invn {
    background-color: #7b0a0a; 
    color: #393c416e;
}

#order, 
#invn {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 5px;
} */
/* 
.blank {
    height: 70px;
} */

#arrow img {
    /* position: absolute; */
    
    width: 25px;
    height: 30px;  
    z-index: 2;
}

.arrow {
    position: absolute;
    display: block;
    bottom: 25px;
    left: 45%;
    transform: translate(-50%);
    height: 50px;
    font-size: 25px;

    color: rgb(33, 3, 234);
    animation: updown 1.5s ease infinite;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(5px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
 

.main .logo_on_screen {
    animation: show ease-in-out 1s;
}

.main .head span {
    animation: show ease-in-out 2s;
}

.main .blueZone {
    animation: show  ease-in-out 3s;
}

/* 
.main .links_above_mainknop span {
    animation: show ease-in-out 3s;
} */

/* 
.main .katta_knopka {
    animation: show ease-in-out 3.5s;
} */


@keyframes show {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
     
    40% {
        transform: translateY(30px);
        opacity: 0;
    }
    70% {
        transform: translateY(0px);
        opacity: 0.5;
    }
     
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* @keyframes showSecondComers {

    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
} */
 
/* 
@keyframes order {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */


/* 
.login .links_above_mainknop {
    animation: order 3s;
} */
/* 
@keyframes links_above_mainknop {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */



.head {
    opacity: 0;
    /* z-index: 1; */
}

.head-1 {
    opacity: 1;
    transition: all 1.5s;
    /* z-index: 1; */
}

.head-2,.head-3,.head-4 {
    opacity: 0;
    transition: all 1.5s;
    /* z-index: 1; */
}

.login {
    opacity: 0;
    /* z-index: 1; */
}

.login button {
    margin-top: 20px;
    color: red;
    width: 130px;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6%;
    border-width: 0px;
    cursor: pointer;
}

.login-2 .mainPage_text, .login-3 .mainPage_text, .login-4 .mainPage_text {
/* width: 100%; */
text-align:left;

} 

.login-2 .mainPage_text span,
.login-3 .mainPage_text span,
.login-4 .mainPage_text span {
font-size: 17px;
line-height: 1.6rem;
font-weight: 500;
}

.login-1 {
    opacity: 1;
    transition: all 1.5s;
    /* z-index: 1; */
}

.login-2,.login-3,.login-4 {
    opacity: 0;
    transition: all 1.5s;
    /* z-index: 1; */
}

.active {
    opacity: 1;
    transition: ease-in-out 1s;
}

.hide {
    opacity: 0;
}
   
/* a.logo{
        height:12px;
        width:100px;
        color:inherit;
    } */


/*  
    .btn {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

   */
   

/*  
.login .blueZone {
    animation: order 3s;
} */


.blur {
    position: fixed;
    width: 100%;
    display: none;
    height: 100vh;
    z-index: 99;
    transition: all 1s;
    backdrop-filter: blur(4px);
    background-color: #393c416e;
}

.blur.active {
    display: block;
}
  
.blueZone {
    /* display: none; */
    position: fixed;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 350px;
    background-color: rgba(17, 109, 1, 0.839);
    border-radius: 15px;

    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    flex-direction: column;
   
}

.blueZone div {
    
}

.mainPage_text  {
    position: relative;
    /* width: 80%; */
    margin: auto;
    margin-top: 0px;
  
    z-index: 1;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 30px;
}

.mainPage_text span {
    margin: auto;
    
    /* padding: 20px 20px; */
    color: rgb(255, 255, 255);
    font-size: 17px; 
    font-weight: 500;
}

.mainPage_text:first-child {
    margin-top: 15px;
}

    
.formulier  {
    position: relative;
    margin-top: 0px;
    z-index: 1;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
   
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* column-gap: 5px; */
    justify-content: center;

}

.vraag_waarom {
    font-size: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.bx {

}


.formulier div {
    padding: 10px 10px;
    color: red;
    background-color: #eaeaeac7;
    font-size: 15px; 
    font-weight: 600;
    border: 0.4px solid red;
}

.formulier1 {
    grid-row: 1;
    grid-column: 1 / 2;
}
.formulier2 {
    grid-row: 1;
    grid-column: 2 / 3;
}
.formulier3 {
    grid-row: 1;
    grid-column: 3 / 5;
}
.formulier4 {
    grid-row: 2;
    grid-column: 1 / 5;
}
.formulier5 {
    grid-row: 3;
    grid-column: 1 / 5;
    color: white;
    background: #056f87;
}


/* boshqa betlar uchun */

figure {
    top: 50px;
    right: -62px;
    position: fixed;
    content: "";
    width: 70px;
    height: 93%;
    border-radius: 50px;
  
    /* transition: right 0.4s ease; */
    background-color: #120587;
    z-index: 300;
   
  }
  
  figure.active {
    display: none;
  }
  

.photo_for_each_page {
    padding-top: 20px;
    background-color: #ffffff;
    }
    
.photo_for_each_page img {
      padding: 20px 0px ;
      position: relative;
      width: 100%;
    }
    
.other_pages h4 {
    text-align: center;
    padding: 40px 20px;
    font-weight: 700;
    }
    
.other_pages h6 {
      
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 700;
      }
    
.other_pages p {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 1.6rem;
         font-weight: 600;
        }
    
.other_pages .white_bg {
          background-color: #ffffff;
          padding: 10px 0px;
    }
    
.other_pages .gray_bg {
      background-color: #ffffff;
      padding: 10px 0px;
    }
    
    .other_pages .sarlavha_with_bg {
      background-color: #edeefd;
      /* background-image: radial-gradient(circle, #5d006745 0%, #0800ff1a 100%); */
      /* color: #ffffff; */
      padding: 10px 10px;
      margin-bottom: 30px;
      font-size: 1.5rem;
      letter-spacing: 1.7px;
      border-top: 4px double #818bf91a;
      /* border-bottom: 4px double #050e72; */
    }

footer p {
    font-size: 8px;
    background-color: #8f8f8f;
    color: #17028a;
    padding: 10px 20px;
    text-align: center;
}

  
    

    .coverage {
        position: absolute;
        height: 70vh;
        width: 100%;
        bottom: 0;
        z-index: 98;
        background-color: rgba(252, 181, 229, 0);
        /* border: 0.2px solid red; */
    }

    .mobile_header {
        background-color:  rgb(255, 255, 255);
        /* rang  */
    }


/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/