

button {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--topBarColor);

  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  margin: auto;
  color: white;
  transition: all ease-in-out 0.4s;
  }

  button p {
    margin: auto;
    padding: 5px 10px;
    text-transform: uppercase;
  }

button:hover {
  font-weight: bold;
  color: var(--topBarColor);
  background-color: var(--hoverColor);
  border-radius: 15px;
  /* border: 2px solid rgb(162, 162, 4); */
  }
/* 
  .px_container img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
  }

  .px_container div {
    border-radius: 10px;
    overflow: hidden;
  }

  .px_container div:hover {
    border-radius: 10px;
  }

  .px_container div img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .px_container div:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .px_container div:hover img {
    opacity: 1;
  } */

.go_back_btn {
background-color: #336eed;
color: white;

text-align: center;
margin: auto;
}
.go_back_btn p {
  font-size: 12px;
text-align: center;
}

  section {
    position: relative;
    width: 100%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    padding: 50px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  section .small_height {
    height: 10px;
   
  }

  section:nth-child(even) {
    background: rgb(244, 244, 244)
  }

  tr:nth-child(even) {
    background: rgb(227, 227, 227);
   
  }

  p, li {
    font-size: 24px;
    line-height: 35px;
  }

  br {
    content: "";
    display: block;
    margin-bottom: 10px;
  }

  table, th, td {
    font-size: 24px;
  }

  table {
    margin: 0px 5px;
    border:1px solid rgb(187, 187, 187);
  }
  th, td {
    font-size: 16px;
    padding-left: 20px;
    /* background-color: #f4ffac; */
    /* color: #055be5; */
    padding: 5px;
  }

  td:nth-child(1) {
    border-right:1px solid rgb(187, 187, 187);
    padding-left: 20px;
  }

  td:nth-child(2) {
    color: #7733ed;
    width: 50%;
  }
 
  .les1_2 td:nth-child(2) {
    color: #4f4f4f;
    width: 50%;
  }


  .hidden_underlined_container {
    border-bottom: 0.5px solid gray;
  }
  
  .hidden_underlined1,
  .hidden_underlined2,
  .hidden_underlined3,
  .hidden_underlined4,
  .hidden_underlined5,
  .hidden_underlined6 {
    display: inline-block;
    visibility: hidden;
    font-weight: 700;
    font-size: 18px;
  }
  
  .les1_2_check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .les1_2_check > div {
    background-color: rgb(193, 208, 255);
    border-radius: 5px;
    /* border: 0.5px solid gray; */
    cursor: pointer;
  }
  .les1_2_check p {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .lishniysi_qaysi table {
    border-width: 0px;
  }

  .lishniysi_qaysi2 table {
    float: right;
    border-width: 0px;
  }

  .lishniysi_qaysi tr:nth-child(even) {
    background: transparent;
  }
  
.lishniysi_qaysi td:nth-child(1) {
    border-right: 0px solid rgb(187, 187, 187);
    padding-left: 20px;
    color: #2d07e9;
    width: 10px;
    font-size: 22px;
    vertical-align: top;
  }

  .lishniysi_qaysi td:nth-child(2) {
    color: #2d07e9;
    width: 100px;
    font-size: 22px;
    padding-left: 20px;
  }

  .lishniysi_qaysi_100pr td:nth-child(1) {
    border-right: 0px solid rgb(187, 187, 187);
    padding-left: 15px;
    color: #474747;
    width: 4px;
    font-size: 22px;
    font-weight: 600;
  }

  .lishniysi_qaysi_100pr td:nth-child(2) {
    color: #474747;
    width: 100%;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 5px;
    font-weight: 600;
  }
  .lishniysi_qaysi_100pr tr:nth-child(even) {
    background: transparent;
  }

  .lishniysi_qaysi_100pr table {
    padding-bottom: 5px;
    border-width: 0px;
  }
  .lishniysi_qaysi_100pr span {
    color: red;
    font-weight: 600;
  }

  .turt_qator table {
    border-width: 0px;
    padding-left: 15px;
  }


  .turt_qator td:nth-child(1) {
    border-right: 0px solid rgb(187, 187, 187);
    padding-left: 5px;
    color: #474747;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
  }
  .turt_qator td:nth-child(2) {
    color: #474747;
    width: fit-content;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 0px;
    font-weight: 600;
  }
  .turt_qator td:nth-child(3),
  .turt_qator td:nth-child(4) {
    color: #474747;
    width: fit-content;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 0px;
    font-weight: 600;
  }
  .turt_qator tr:nth-child(even) {
    background: transparent;
  }

.landing_page {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./images/landing.jpg);
  background-position: center right;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  
  margin: auto;
  /* width: 100%; */
  /* height: 100vh; */
  /* height: 570px; */
  height: 500px;
  padding: 50px 0px;
}


.landing_page .img_container {
  margin: auto;
  width: 150px;
}

.landing_page .zaglavie {
  color: white;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.landing_page .zaglavie h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: auto;
}

.landing_page .zaglavie p {
  /* font-family: Courgette; */
  padding: 0px 20px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.first_button {
  width: fit-content;
  margin-top: 20px;

  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.second_button {
  width: fit-content;
  margin-top: 20px;
  background-color: coral;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.conversation > div {
  margin-bottom: 50px;
}

.man_greeting_klpart {
  position: absolute;
  margin-top: 0px;
  right: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 150px;
  z-index: -1;
}
.woman_greeting_klpart {
  position: absolute;
  margin-top: -250px;
  left: 0px;
  width: 120px;
  z-index: -4;
}

.lishniysi_qaysi2 .woman_greeting_klpart {
  position: absolute;
  margin-top: 0px;
  left: 0px;
  width: 120px;
  z-index: -4;
}


 
.sixth {
  /* background-image: url(./images/bg_housenn.png); */
  background-position: center right;
  background-size: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 1;
}

.black_filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101010f6;
  z-index: 2;
}

.sixth main {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.sixth .contact {
  padding-left: 10px;
  /* border-left: 1px solid rgba(242, 242, 242, 0.107); */
  z-index: 3;
}

.sixth .zaglavie_contact {
  color: #f9f103af;
  margin-bottom: 10px;
}
.sixth .contact p {
  font-size: 14px;
}


.sixth .skype a,
.sixth .email a,
.sixth .whatsapp a {
  color: #ffffffd7;
  line-height: 22px;
}

.sixth p {
  color: #ffffffa5;
  line-height: 22px;
}

.social_network_icons {
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.sixth main > div img {
  margin: 0px 0px;
}

.footer {
  color: white;
  background-color: var(--topBarColor) !important;
  /* padding: 10px 20px; */
  padding: 5px 10px;
  line-height: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  font-size: 10px;
  margin: auto;
}
.footer main {
  padding-top: 0px;
  padding-bottom: 0px;
}

.last_piece {
  color: rgb(214, 214, 214);
  /* background-color: rgb(27, 27, 27); */
  width: 100%;
  height: fit-content;
  font-size: 14px;

  display: flex;
  justify-content: center;
}
.last_piece p {
  margin: auto;
  text-align: center;
  line-height: 18px;
  padding: 10px 50px;
}

.last_piece a {
  color: rgb(214, 214, 214);
  transition:  all 0.8s ease-in-out;
}

.last_piece a:hover {
  color: rgb(238, 255, 1);
}


.hammer_container {
  position: relative;
  height: 120px;
  padding: 0px 20px;

  display: flex;
  flex-direction: column;
}
.hammer_head {
  position: absolute;
  left: 30px;
  width: 60px;
  height: 80px;
  
}
.hammer_head img {
  width: 100%;
}
.hammer_handle {
  background-color: #8a7344;
  margin: auto;
  width: 80%;
  height: 35px;
  margin-left: 10px;
  border-radius: 10px;
}
.hammer_handle p {
  font-size: 16px;
  text-align: center;
  color: white;
  padding-left: 70px;
  padding-right: 30px;
}

.bold_italic_underline {
  font-weight: 700;
  font-family: 'Open Sans ital';
  color: black;
  text-decoration: underline;
}

.borderi_bor {
  margin: 5px;
  border: 2px solid rgb(209, 209, 209);
  background-color: #f7f6ff;
  padding: 20px; 
}
.borderi_bor > p {
  color: #336eed;
  line-height: 30px;
}
.borderi_bor > br {
  display: inline-block;
  line-height: 50px;
}


.video_container {
  margin-top: 30px;
  display: flex;
}
.video_wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 300px;
  height: fit-content;
}




#container_delete {
  position: fixed;
  bottom: 10px;
  right: 5px;
  width: 70px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color:#1005e5;
  border-radius: 10px;
}
#container_delete .first {
  margin: auto;
}
#screen_width {
  color: rgb(2, 19, 255);
  margin: auto;
  margin-top: 5px;
  padding: 10px 10px;
  font-weight: 600;
  background-color: rgba(255, 255, 0, 0.395);
  border-radius: 10px;
}



@media only screen and (min-width: 340px) {
  .nav {
    width: 320px;
  }
}
@media only screen and (min-width: 400px) {
  .zaglavie h1 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 415px) {
  .nav {
    width: 380px;
  }
  .logo_top_left_cont {
    background-image: url(./images/small_logo3.png);
    background-size: cover;
    height: 56px;
    width: 220px;
  }

}
@media only screen and (min-width: 450px) {
  main {
    width: 360px;
  }

  iframe {
    width: 350px;
    height: fit-content;
  }
}
@media only screen and (min-width: 600px) {




  .black_oon_top {
    background-color: var(--topBarColor);
    z-index: 105;
  }

  h3 {
    margin-bottom: 50px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .third h4, .fifth h4 {
    margin-bottom: 50px;
  }

  .sixth  {
    background-position: center right;
    background-size: 430px;
  }

  p, li {
    line-height: 30px;
    letter-spacing: 0.23px;
  }

  .nav_container {
    background-color: var(--topBarColor);
  }

  .nav li a:hover {
    color: rgb(234, 134, 3);
    border-radius: 10px;
    transition:  all 0.4s ease-in-out;
  }

  .nav li {
    padding: 0px 0px;
    }

  .nav li:hover {
    background-color: transparent;
    }

    .nav li a {
      padding: 10px 15px;
      transition: all ease-in-out 0.4s;
    }
  
  .landing_page .img_container {
    animation: show ease-in-out 1s;
  }
  .landing_page .zaglavie {
    animation: show ease-in-out 1s;
  }
  .landing_page .zaglavie h1 {
    font-size: 60px;
    letter-spacing: 0.01rem;
    animation: show ease-in-out 2s;
  }
  .landing_page p, .landing_page li, .landing_page button {
    line-height: 32px;
    letter-spacing: 0.3px;
    animation: show ease-in-out 3s;
  }

  .nav {
    width: 100%; 
    /* padding: 0px 20px; */
    width: 540px; 
  }
  main {
    padding: 50px 0px;
    width: 500px; 
    font-size: 18px;
  }
  .logo_top_left_cont {
    background-image: url(./images/small_logo.png);
    background-size: cover;
    height: 30px;
    position: fixed;
    width: 90px;
    left: -200px;
  }
  .hamburger_menu {
    margin-right: -5px;
  }

  .hamburger_menu li i {
    padding: 5px 15px;
  }

.px_container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.px_container > div {
  width: 100%;
  /* margin: unset ; */
}
.px_container div:hover img {
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
 }
 iframe {
  width: 500px;
  height: 300px;
}
 
 .nav li {
    padding: 5px 5px;
  }

  .navLink_container li {
  position: relative;
  display: block;
  width: fit-content;
  }

.navLink_container a {
  color: white;
}

.ikki_surat {
  justify-content: space-evenly;
}

.sixth p {
  line-height: 32px;
}

.footer p {
  font-size: 12px;
}

@keyframes show {
  0% {
      transform: translateY(30px);
      opacity: 0;
  }
   
  40% {
      transform: translateY(30px);
      opacity: 0;
  }
  70% {
      transform: translateY(0px);
      opacity: 0.5;
  }
   
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}  

}
@media only screen and (min-width: 700px) {
  .nav {
    width: 100%; 
    padding: 0px 30px;
    /* width: 540px;  */
  }

  .logo_top_left_cont {
    position: relative;
    left: 15px;
  }
}
@media only screen and (min-width: 800px) {


  .sixth  {
    background-position: center right;
    background-size: 600px;
  }

  .social_network_icons {
    margin-top: 0px;
    gap: 3px;
  }


  main {
    width: 700px; 
  }

  .logo_top_left_cont {
    left: 20px;
  }

  .display_not {
    display: block;
  }

  .display_in_end {
    display: none;
  }

  .navLink_container li:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
    }


  .landing_page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , url(./images/Het-Bouwbedrijf-Fotos-23_1_1-1.jpg);
}
.zaglavie p {
  font-size: 20px;
  width: 600px;
}

.fifth .texts {
  padding: 40px 50px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

.fifth .add_marginBottom {
  margin-bottom: 40px;
}

.px_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.px_container > div {
  width: 100%;
  /* margin: unset ; */
}

iframe {
  width: 700px;
  height: 400px;
}
}
@media only screen and (min-width: 992px) {
  main {
    width: 850px; 
  }

  iframe {
    width: 840px;
    height: 450px;
  }
}
@media only screen and (min-width: 1250px) {
  .sixth {
    /* background-image: url(./images/bg_housenn.png); */
    background-position: center right;
    background-size: 600px;
  }

  main {
    width: 1050px; 
  }
  
  .display_in_end {
    display: block;
  }

  .second .px_container div {
    height: 300px;
  }
  .second .px_container .display_not img {
    float: right;
  }

  .third .px_container  {
    width: 100%;
  }
  .third .px_container div {
    height: 300px;
  }
  .third .px_container .display_not img {
    float: right;
  }

  .fourth .textga_container {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
  }
 
  .video_container {
    margin-top: 0px;
  }
  iframe {
    width: 500px;
    height: 353px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  }


  .fourth .texts {
    text-align: left;
    margin: auto;
    margin-top: 0px;
    /* width: 48%; */
    height: 352px;
    padding: 40px 50px;
    
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .fourth .texts p {
    line-height: 29px;
  }

  .uzb_cyrga p {
    line-height: 25px !important;
  }

  .fourth .ikki_columnda_reveal {
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }



  .fifth main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .fifth li {
    font-size: 18px;
    line-height: 22px;
  }

  .fifth .ikki_columnda_reveal {
    display: block;
    margin: auto;
    /* margin-bottom: 40px; */
  }

  .fifth .ikki_columnda_reveal h3 {
    text-align: center;
  }
  .fifth .textga_container {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
  .fifth .textga_container .texts {
    width: 47%;
    height: 320px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  }
  .fifth .ikki_columnda_hide {
    display: none;
  }
  .fifth .px_container {
    /* width: 47%; */
    margin: unset;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
  }
  .fifth .display_in_end img {
    height: 320px;
    float: right;
    
  }
}
@media only screen and (min-width: 1320px) {
  .sixth {
    /* background-image: url(./images/bg_housenn.png); */
    background-position: center right;
    background-size: 700px;
  }
}
@media only screen and (min-width: 1420px) {
  .sixth {
    /* background-image: url(./images/bg_housenn.png); */
    background-position: center right;
    background-size: 800px;
  }
}
@media only screen and (min-width: 1520px) {
  .sixth {
    /* background-image: url(./images/bg_housenn.png); */
    background-position: center right;
    background-size: 1000px;
  }
}
@media only screen and (min-width: 2020px) {
  .sixth {
    /* background-image: url(./images/bg_housenn.png); */
    background-position: center center;
    background-size: 800px;
  }
}




/* .notFooter {
  position: relative;
  color: rgb(167, 4, 4);
  background-color: #a2a2a2 ;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/