@font-face {
    font-family: Gotham SSm;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2)
      format('woff2');
  }
  
  @font-face {
    font-family: Gotham SSm;
    font-weight: 200;
    font-display: swap;
    font-style: normal;
    src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
      format('woff2');
  }
  
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
img {
    max-width: 100%;
  }
  

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;

  --nav-height: 50px;
  padding-top: var(--nav-height);
  }


.nav {
  width: 100%;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ea4d1b ;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  z-index: 200;
  padding: 0px 10px;

  /* display: flex;
  flex-direction: row; */
  justify-content: space-between;
}

.nav img {
width: 120px;
}

.desktopOnly li {
position: fixed;
display: none;
width: 0px;
}

.nav--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin: 0 2px;
  font-weight: bold;
  cursor: pointer;
}
 
.nav li {
  padding: 5px 7px;
}

.nav li:hover {
  background-color: rgb(212, 212, 8);
  border-radius: 15px;
}

.nav  .navLink_container li {
  padding: 10px 20px;
}

#menuBtn {
  font-size: 26px;
  padding: 2px 20px;
}

#menuBtn i {
  color: white;
}

  section {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
  }

  .texts {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
  }

  p {
    line-height: 30px;
    letter-spacing: 0.23px;
    
    animation: show ease-in-out 3s;
  }

.landing_page {
    background-position: center right;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 500px;
    padding: 0px 0px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./images/Het-Bouwbedrijf-Fotos-23_1_1-1.jpg);
}

.general_container {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.img_container {
  margin: auto;
  width: 150px;
  animation: show ease-in-out 1s;
}

.zaglavie {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  animation: show ease-in-out 1s;
}

.zaglavie h1 {
  font-size: 26px;
  animation: show ease-in-out 2s;
}

button {
  background-color: #ea4d1b;
  width: 100px;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  margin: auto;
  color: white;
  animation: show ease-in-out 2s;
}

button p {
  padding: 5px 10px;
  animation: show ease-in-out 3s;
}

.one {
  width: 130px;
}

.chapga_terish p, 
.chapga_terish li {
  text-align: left;
}

.chapga_terish h3 {
  padding: 30px 0px;
}


.px_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.px_container > div {
  width: 90%;
  margin: auto;
}

.display_not {
  display: none;
}

.first .texts {
  animation: show ease-in-out 3s;
}

.fifth {
  line-height: 30px;
  letter-spacing: 0.23px;
}

.fifth li {
  margin-bottom: 10px;
}

.footer {
  color: white;
  font-size: 12px;
  background-color: #ea4d1b ;
  height: 10px;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.footer p {
  margin: auto;
}


@keyframes show {
  0% {
      transform: translateY(30px);
      opacity: 0;
  }
   
  40% {
      transform: translateY(30px);
      opacity: 0;
  }
  70% {
      transform: translateY(0px);
      opacity: 0.5;
  }
   
  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}



@media only screen and (min-width: 400px) {
  .zaglavie h1 {
    font-size: 34px;
  }
}

@media only screen and (min-width: 600px) {

  .nav {
    padding-left: 50px;
    padding-right: 50px;
  }

  .logo_top_left {
    position: fixed;
    opacity: 0;
  }

  .nav li {
    padding: 5px 7px;
  }

  .desktopOnly li {
  position: relative;
  display: block;
  width: fit-content;
  }

  .desktopOnly li:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
    }

  .nav  .navLink_container li {
    padding: 10px 10px;
  }

  .nav  .navLink_container li a {
  text-align: center;
  }

  .px_container {
    padding: 0px 50px;
  }

  .texts {
    padding: 0px 50px;
  }
  .zaglavie h1 {
    font-size: 44px;
  }

  .display_not {
    display: block;
  }

.px_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.px_container > div {
  width: 30%;
}
}


@media only screen and (min-width: 678px) {

  .logo_top_left {
    position: relative;
    opacity: 1;
  }
  
}


@media only screen and (min-width: 768px) {
  .landing_page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)) , url(./images/Het-Bouwbedrijf-Fotos-23_1_1-1.jpg);
}
}

@media only screen and (min-width: 992px) {

  .chapga_terish h3 {
    padding: 50px 0px;
  }
}

@media only screen and (min-width: 1200px) {

}

/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/