
h1 {
    margin: auto;
    margin-bottom: 20px;
    font-weight: 700;
}

h3 {
    text-align: left;
}
/* tablega */
.waar_of_niet  td:nth-child(2) {
    background-color: #a1e4ff;
    color: rgb(255, 0, 0);
    font-size: 8px;
    padding: 5px;
    text-align: center;
    width: 15%;
  } 

  .waar_of_niet td {
    font-size: 16px;
  }

.zoek_elkaar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fotki_col1, 
.fotki_col2  {
    display: flex;
    flex-direction: column;
}

.zoek_elkaar > div img {
    margin-bottom: 20px;
    height: 120px;
    overflow-y: hidden;
    border: 5px solid lightgray;
}
.zoek_elkaar .kalimaat {
    margin: auto;
}
.zoek_elkaar .kalimaat > div {
    margin: auto;
    margin-bottom: 20px;  
    border-radius: 14px;   
}

.zoek_elkaar .kalimaat p {
    text-align: center;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 34px;
    font-weight: 700;
}

.zoek_elkaar .kalimaat div:hover {
    
    background-color: rgb(255, 255, 181);
    cursor: pointer;
}


/* 
git add .

git commit -m "lyuboe sobwenie"

git push 
*/