
h1 {
    margin: auto;
    margin-bottom: 20px;
    font-weight: 700;
}

h3 {
    text-align: left;
}
/* tablega */
.waar_of_niet  td:nth-child(2) {
    background-color: #a1e4ff;
    color: rgb(255, 0, 0);
    font-size: 8px;
    padding: 5px;
    text-align: center;
    width: 15%;
  } 

  .waar_of_niet td {
    font-size: 16px;
  }

.zoek_elkaar {
    border: 5px solid rgb(173, 172, 172);
    padding: 2px;

    display: flex;
    flex-direction: column;
    gap: 2px;

}

.fotki_col1, 
.fotki_col2  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.zoek_elkaar > div img {
    margin: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: 110px;
    overflow-y: hidden;
    border: 5px solid lightgray;
}
.zoek_elkaar .kalimaat {
    margin: auto;
    /* border: 1px solid gray; */
    padding: 5px;
    /* background-color: gray; */
    background-color: bisque; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.zoek_elkaar .kalimaat > div {
    margin: auto;
    margin-bottom: 0px;  
    border-radius: 0px;      
}

.zoek_elkaar .kalimaat p {
    text-align: center;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 4px;
    font-weight: 700;
    /* background-color: rgb(209, 209, 209); */
}

.zoek_elkaar .kalimaat div:hover {
    background-color: rgb(255, 255, 181);
    cursor: pointer;
}


.zoek_elkaar2 {
    border: 2px solid rgb(145, 145, 145);
    padding: 10px;
   
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.zoek_elkaar2 p {
    padding: 5px 9px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.zoek_elkaar2 > div {
    padding: 10px;
    border: 2px solid rgb(202, 202, 202);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.zoek_elkaar2 .first_part > div {
    width: 80px;
    background-color: #dcdcdc;
}

.zoek_elkaar2 .first_part {
    cursor: pointer;
}


.zoek_elkaar2 .first_part .qator1 {
    margin-bottom: 20px;
   
}

.zoek_elkaar2 .first_part .qatorlar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}



.my_comment p {
text-align: left; 
margin-top: 10px;  
margin-bottom: 4px;
/* text-transform: capitalize; */

color: green;
padding: 3px 6px;
cursor: pointer;
font-size: 14px;
line-height: normal;
font-weight: 700;
}

form,
.bg_yellowish form {
    font-size: 24px;
}
input,
.bg_yellowish input {
    width: 100%;
    font-size: 24px;
    padding: 0px 6px;
    color: gray;
}

#fage, 
#fcountry {
    width: 50px;
}

#fopties {
    width: 100px;
}

#fkids,
#fsex {
    display: inline-block;
    margin-bottom: 20px;
}

form p {
    margin-left: 25px;
}

.boos_etc {
    width: 50px;
}

.uzun_qisqa_unlilar {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uzun_qisqa_unlilar > div {
    height: 70px;
}




/* --- ---- ---- Move Exercise -- --- ---  */

.german {
    background-color: rgb(186, 223, 255) !important;
    padding: 50px 0px;
}

.german .a_territory {
    padding: 20px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    height: fit-content;
  }

.german .a_territory .mejdu_strok {
   margin-bottom: 20px;
  }

  .german .rasstoyanie {
    /* width: 12px; */
    width: 0px;
    /* background-color: red; */
  }

  .german .pustoy_div {
    /* display: inline-block; */
    width: fit-content;
    min-width: 50px;
    max-width: fit-content;
    /* margin-right: 20px; */
    margin-right: 15px;

    height: 30px;
    border-radius: 5px;
    background-color: #b6b6b6db;
    display: flex;
  }

  .german .sharh_container {
    /* background-color: #eee; */
    margin-right: 5px;
    /* margin-left: 0px; */
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .german .sharhi {
    margin-top: auto;
    margin-bottom: auto;
  }
  .german .sharhi p {
    text-align: left;
  }

.mejdu_strok {
    height: fit-content;
}

.mejdu_strok p {
    min-height: 30px;
    line-height: 28px;
}

.german .btn-container {
    background-color: #ccc;
    border-radius: 15px;
    background-color: #2e8631;
    cursor: pointer;
    display: flex;
  }

  .german .b_territory {
    border-radius: 15px;
    position: relative;
    padding: 10px;
    min-height: 100px;
    background-color: rgba(86, 86, 86, 0.444);
    margin: 0px 10px;
  }

  .german .b_territory > div:nth-child(1) {
    position: absolute;
    width: 90px;
    top: 10px;
    left: 10px;
  }
  .german .b_territory > div:nth-child(2) {
    position: absolute;
    width: 90px;
    top: 10px;
    right: 10px;
  }
  .german .b_territory > div:nth-child(3) {
    position: absolute;
    width: 90px;
    bottom: 10px;
    left: 10px;
  }
  .german .b_territory > div:nth-child(4) {
    position: absolute;
    width: 90px;
    bottom: 10px;
    right: 10px;
  }


  .german .b_territory > div {
    /* margin: auto; */

    height: fit-content;
  }

.german p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #2e8631;
  }
 
  .german .a_territory .btn_cha {
    margin: auto;
  }
  .german .a_territory .btn_cha p {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #0080ff;
    padding: 0px 0px;
    padding-top: 1px;
    background-color: #ffffff;
    background-color: rgb(240, 240, 240);
    height: 30px;
  }

  .german .b_territory .btn_cha {
    margin: auto;
    padding: 3px 5px;
    width: fit-content;
  
  }
  .german .b_territory .btn_cha p {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #e8e8e8;
  }

  


/* 
git add .

git commit -m "lyuboe sobwenie"

git push 
*/

